<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- Created By: Vasudevan Sampath -->
<suite name="Apple e-Commerce Shop Automation Suite" parallel="false" thread-count="1" verbose="1">

    <listeners>
        <listener class-name="pro.vasudevan.automation.unifiedtestframework.listeners.SuiteListener"/>
        <listener class-name="pro.vasudevan.automation.unifiedtestframework.listeners.TestListener"/>
    </listeners>

    <test name="Smoke-Tests-Chrome" enabled="false">
        <parameter name="browserName" value="chrome"/>
        <parameter name="headless" value="true"/>
        <parameter name="launchURL" value="https://apple.com/shop"/>
        <classes>
            <class name="pro.vasudevan.suites.smoke.SmokeTests"/>
        </classes>
    </test>

    <test name="Smoke-Tests-Firefox" enabled="false">
        <parameter name="browserName" value="firefox"/>
        <parameter name="headless" value="true"/>
        <parameter name="launchURL" value="https://apple.com/shop"/>
        <classes>
            <class name="pro.vasudevan.suites.smoke.SmokeTests"/>
        </classes>
    </test>

    <test name="Smoke-Tests-Safari" enabled="true">
        <parameter name="browserName" value="safari"/>
        <parameter name="headless" value="true"/>
        <parameter name="launchURL" value="https://apple.com/shop"/>
        <classes>
            <class name="pro.vasudevan.suites.smoke.SmokeTests"/>
        </classes>
    </test>

</suite>